$headerTextColor: #fff;
$hoverColor: #C7B299;
$linkColor: #988574;
$servicesColor: #555555;
$latestProjectsInfoColor: #FBFAF8;
$latestProjectsTextColor: #8C8C8C;
$latestProjectsCardTextColor: #D1D1D1;
$latestProjectsHoverColor: #352F2D;