@import 'reset',
'../dist/sass/sprite',
'font-face',
'init',
'header',
'slider',
'services';
body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
}

.sprite {
    display: none;
}

.container {
    max-width: 1275px;
    margin: 0 auto;
}

.waxom-is {
    padding-top: 80px;
    background: #FBFAF8;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__title {
        font-family: Raleway;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        color: $servicesColor;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 42px;
        width: 770px;
        color: #8C8C8C;
    }
}

// fonts Raleway 400 500 600 Montserrat 300 400 roboto 400