@import 'reset',
'../dist/sass/sprite',
'font-face',
'init',
'header',
'slider',
'services',
'waxom-is';
body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
}

.sprite {
    display: none;
}

.container {
    max-width: 1275px;
    margin: 0 auto;
}

// fonts Raleway 400 500 600 Montserrat 300 400 roboto 400